AI-MAIL.json
{
  "name": "AI-MAIL",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "14c4f6b1-4cd8-4fe2-954f-d3b255a10b8b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI News Analyst Agent. Your task is to produce **daily AI news, predictions, suggestions, and opinions** in a **fully structured and email-ready HTML format**.  \n\nFollow these instructions:\n\n1️⃣ Include a **Subject line** with today’s date.  \n2️⃣ Use proper HTML tags: <p> for paragraphs, <h3> for section headings, <ul><li> for bullet points.  \n3️⃣ Include these sections in order:\n\n- **Real-World AI News (Top 3–5 Updates)**: Each news item should be 2–3 sentences in <li> bullets.  \n- **Predictions**: Divide into short-term (6–12 months) and long-term (2–5 years) bullets.  \n- **Suggestions**: Include bullets for Students, Professionals, and Businesses.  \n- **Expert Opinion**: 3–5 sentence paragraph giving your insight.  \n\n4️⃣ Make the email **readable and professional**, with spacing between sections.  \n5️⃣ End with a polite sign-off: “Best regards, AI News Analyst Agent”.  \n\n**Output only HTML code**. Do not include Markdown or plain text. The HTML should be ready to paste into Gmail or any email client.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "b5a1049e-2a62-4212-9af8-78f1739a25c8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        232,
        224
      ],
      "id": "5edda19f-e684-4b8e-a53e-06ff4d7fb54d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pNowJHkNLIyTSaui",
          "name": "new"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        360,
        224
      ],
      "id": "a15529ae-0085-4ea4-8859-734249de5a18",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "akhileshyadav52361@gmail.com",
        "subject": "HERE IS THE LATEST NEWS ABOUT AI",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        576,
        0
      ],
      "id": "27567ed2-7c4c-4e28-b1ef-4e4df9ba5895",
      "name": "Send a message",
      "webhookId": "f1932e7a-cf8c-4735-9588-786ff7932b4f",
      "credentials": {
        "gmailOAuth2": {
          "id": "d7YuVDlTOeoFmxDR",
          "name": "Gmail"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c66bd91d-d0ee-4974-8527-619c756d21f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2143bbab0046a29ff233d0225fd33fbe065863ee6490e9e4402496708a049faa"
  },
  "id": "QWyW5ouxu239FNVZ",
  "tags": []
}